body {
    margin: 0;
}
* {
    box-sizing: border-box;
}
.flex{
    display: flex;
    
    
}
.section1 .image-card .top{
    height: 60vh;
}
.section1 .image-card .top img {
    width: 100%;
    height: 100%;
    border: solid;
}
.section1 .image-card .bottom  {
    border: solid;
     
}
.section1 .image-card .bottom h2{
    background-color: pink;
    padding-left: 170px;
    margin-top: 0px;
    height: auto;
}

.section1 .image-card .bottom p {
    background-color: yellow;  
}


.container1 {
    display: grid;
    grid-template-areas:
        "h h1 h2 ";
}
.container1 >*{
    height: 75px;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.container2 {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas:
        "b b ";
}
.container2 >*{
    font-style: italic;
    font-size: 50px;
    background: white;
    grid-area: d;
}

.container3 {
    display: grid;
    margin-bottom: 10px;
    grid-template-areas: 
        "img1 img2 ad"
        ;
}
.container3 > *{
    background: no-repeat center center;
    height: 500px;
    width: 100%;
    display: grid;
    background-size:cover; 
    border-color: black;
    border-style: solid;
}


.adcontainer{
    border: solid;
    height: 90px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: grid;
    margin-bottom: 10px;
    grid-template-areas: "ad2 ad2 ad2";
}
.advertisement{
    justify-content: center;
    align-items: center;

}
.header {
    grid-area: h;
    background: grey;
}

.header1 {
    background: purple;
    grid-area: h1;
}

.header2 {
    background: brown;
    grid-area: h2;
}

.banner {
    grid-area: b;
    height: 150px;
    padding-top: 40px;
    
}

.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}



.imgdesc1 {
    grid-area: id1;
    
}

.imgdesc2 {
    grid-area: id2;
    margin-left: 25px;
}

.sub-footer {
    grid-area: sf;
    background: purple;
    width: 100%;
    text-align: center;
    padding: 10px;
        
    
}

.para1heading {
    grid-area: ph1;
}

.para1desc {
    grid-area: pd1;
}

.para2heading {
    grid-area: ph2;
}

.para2desc {
    grid-area: pd2;
}

.para3heading {
    grid-area: ph3;
}

.para3desc {
    grid-area: pd3;
}

.para4heading {
    grid-area: ph4;
}

.para4desc {
    grid-area: pd4;
}

.footer {
    grid-area: f;
        background: grey;
        height: 30px;
        width: 100%;
        padding-top: 5px;
        justify-content: center;
        text-align: center;
        
        
   
}

.advertisement {
    grid-area: ad;
}
.advertisement2 {
    grid-area: ad2;
}

@media (max-width: 1100px){

    .section1{
        display: flex;
        flex-direction: column;
    }
    .container3{
        display: flex;
        flex-direction: column;
    }
    .section1 .image-card .bottom h2{
        background-color: pink;
        padding-left: 370px;
        margin-top: 0px;
        height: auto;
    }
    .advertisement{
        height: 30vh;
    }
    
  } 
  @media (max-width: 768px){
    .section1{
        display: flex;
        flex-direction: column;
    }
    .container3{
        display: flex;
        flex-direction: column;
    }
    .section1 .image-card .bottom h2{
        background-color: pink;
        padding-left: 200px;
        margin-top: 0px;
        height: auto;
    }
    .advertisement{
        height: 20vh;
    }

  }